.navbar-brand {
    .brand-custom {
        color: #2d6cdf;
        position: relative;

        &::after {
            position: absolute;
            content: "";
            width: 60%;
            height: 3px;
            bottom: -5px;
            left: 0;
            filter: opacity(.4);
            background-color: red;
        }

        &::before {
            position: absolute;
            content: "";
            width: 6px;
            border-radius: 50%;
            height: 6px;
            left: 2px;
            background-color: #faee1c;
        }
    }
}